<html>
    <head>
        <title>TEST</title>
        <link rel="stylesheet" href="~/style.css">
        <link rel="stylesheet" href="~/bootstrap.css">
        <script  src="~/lib/jquary/jquery-3.5.1.js"></script>
        <script src="~/jscript.js" type="text/javascript"></script>
    </head>
    <body >
        <br>
        <h1>ATM APP</h1>
        <p></p>
        <hr>
        <form method="POST" action="/Home/deposit">
            <div>
                <h1 >C ATM BANK LIMITED  </h1>
                <h2 >Customer Banking  </h2>
                <h3 >deposit </h3>
            </div>
            <div>
                <div>
                <label  for="depamount">deposit amount : </label>
                <input type="text" name="amount"  id="depositamount">
                </div>
                <br>
                <br>
                 <div>
                     <input type="submit" class="abutton1" value="submit"  id="depositbutton">
                    
                </div>
            </div>          
            <hr>
        </form>        
    </body>
</html>