
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TEST</title>
        <link rel="stylesheet" href="~/style.css">
        <script  src="~/lib/jquary/jquery-3.5.1.js"></script>
        <script src="~/jscript.js" type="text/javascript"></script>
    </head>
    <body >
        <br>
        <h1> ATM APP</h1>
        <p></p>
        <hr>
        <form method="POST" action="/Home/login">
            <div>
                <h1 >C ATM BANK LIMITED  </h1>
                <h2 >Customer Banking  </h2>
            </div>
            <div>
                <br>
                <br>
                <div>
                    <a class="abutton" href="/Home/Depositpage">Deposit </a>
                </div>
                <br>
                <div>
                    <a class="abutton" href="/Home/Withdrawpage">Withdraw </a>
                </div>
                <br>
                <div>
                    <a class="abutton" href="/Home/Transferpage">Transfer </a>            
                </div>
                <br>
                <div>
                    <a class="abutton" href="/Home/Balancecheck"> Account balance </a>
                </div>
                <br>
                <div>
                    <a class="abutton" href="/Home/Transactionlog"> Transaction Log </a>
                </div>
                <br>
                <div>
                    <a class="abutton" href="/Home/ChangePinpage">Change Pin </a>
                </div>
                
                <br>
                <div>
                 <a class="abutton" href="/Home/index">logout </a>
                </div>
            </div>          
            <hr>
        </form>        
    </body>
</html>

